@{

    ViewData["Title"] = "Make it Small";

}

@model MakeItSmall.Models.URLModel

<img class="figure-img img-fluid rounded" src="../img/makeyourlink.png" alt="Make Your Link Logo">
<br \>
<br \>
<br \>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<t2 class="w3-container">
    <form asp-action="Result" method="post">
        <div class="ALLURLDIV">
            <div class="text-center">
                <img src="../img/url2.png" class="imagemURL" alt="URL">
                <br \>
                <input type="url" class="InputClass" id="InputURL" asp-for="BIG_URL" required placeholder="https://www.youtube.com/watch?v=tkzY_VwNIek">
            </div>

            <img src="../img/mkurTESTE.png" class="imagemM" alt="mkur.link/">
            <input id="NameURL" class="NameURLClass" size=20 asp-for="SMALL_URL" onkeypress="return event.charCode != 32" required placeholder="OceanMan">

            <div class="text-center">
                <button type="submit" class="btn btn-primary">MAKE IT SMALLER</button>
            </div>

        </div>
    </form>
    <br \>

    <h6 class="text-right">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            @if (@ViewData.ModelState["Error"].Errors.First().ErrorMessage == "URL Personalizada já existe.")
            {
                <div class="alert alert-danger" role="alert">
                    <strong>@ViewData.ModelState["Error"].Errors.First().ErrorMessage</strong>
                    <script>
                        document.getElementById("NameURL").style.borderColor = "red";
                    </script>
                </div>
            }
            else
            {
                <br \>
                <h2 class="text-center">
                    <div class="OutputURL">
                        <a href="@ViewData.ModelState["Error"].Errors.First().ErrorMessage" name="myLink" id="myLink">@ViewData.ModelState["Error"].Errors.First().ErrorMessage</a>
                        <br \>
                        <button onclick="CopyToClipBoard()" class="btn btn-primary">COPY</button>
                    </div>
                </h2>                
            }
        }
    </h6>
    
    <script>
        $(document).ready(function () {
            $(".NameURLClass").click(function () {
                document.getElementById("NameURL").style.borderColor = "black";
                $("h6").fadeOut(2000);
            });
        });
    </script>

    </div>




